<section class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6 is-offset-3">
                <h1 class="title">
                    Login
                </h1>
                <app-login-form></app-login-form>
            </div>
        </div>
    </div>
</section>