<form name="loginForm" action="" class="box">
    <div class="field">
        <label for="" class="label">Email</label>
        <div class="control has-icons-left">
            <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required
                [(ngModel)]="loginForm.userName" name="userName">
            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label for="" class="label">Password</label>
        <div class="control has-icons-left">
            <input type="password" placeholder="*******" class="input" required [(ngModel)]="loginForm.password"
                name="password">
            <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
            </span>
        </div>
    </div>
    <div class="columns">
        <div class="column field">
            <label for="" class="checkbox">
                <input type="checkbox" [(ngModel)]="loginForm.rememberMe" name="password">
                Remember me
            </label>
        </div>
        <div class="column field has-text-right has-text-left-mobile">
            <button class="button is-success">
                Login
            </button>
        </div>
    </div>
</form>