/* You can add global styles to this file, and also import other style files */

$fa-font-path: "font-awesome-scss/fonts";

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "bulma-scss";
@import "font-awesome-scss/scss/font-awesome.scss";

:host {
  font-family: "Roboto", sans-serif;
}
